</main>

<footer>
  <!--  Adding a dynamic year to the footer using JS. -->
  <% const Year = new Date(); %>
  <h6>Copyright ©  <%= Year.getFullYear() %> Joel Chondo. All Rights Revised</h6>
</footer>
</body>

</html>